{{define "title"}}
创建文章
{{end}}

{{define "main"}}
<div class="col-md-9 blog-main">
  <div class="blog-post bg-white p-5 rounded  mb-4">

    <h5>新建文章</h5>

    <form action="{{ RouteName2URL "articles.store" }}" method="post">

      {{template "form-fields" . }}

      <button type="submit" class="btn  btn-outline-primary btn-block mt-3">发布</button>

    </form>

  </div><!-- /.blog-post -->
</div>

{{end}}